<ion-view title="Event Picker" id="event-picker">
    <ion-content padding="true" class="scroll-content ionic-scroll has-header">
        <div class="scroll padding">
            <h4 id="dashboard-heading" style="color:#000000;">Pick an event</h4>
            <div style="text-align: center;" id="loading-view" ng-show="isLoading">
                <ion-spinner></ion-spinner>
            </div>
            <ion-list id="dashboard-list" ng-hide="isLoading">
                <div class="list" >
                    <ion-item id="dashboard-list-item-{{ event.id }}" class="item item-icon-right" ng-repeat='event in events' ng-click="pickEvent(event)">
                        {{ event.name }} <i class="icon ion-ios-checkmark-empty" ng-show="$storage.selectedEvent.id === event.id"></i>
                    </ion-item>
                </div>
            </ion-list>
        </div>
    </ion-content>
</ion-view>


