<ion-view title="Login" id="page1">
    <ion-content padding="true" class="has-header">
        <form id="login-form3" class="list ">
            <label class="item item-input item-stacked-label " id="login-input3" name="email">
                <span class="input-label">Email ID</span>
                <input type="email" placeholder="john.doe@example.com">
            </label>
            <label class="item item-input item-stacked-label " id="login-input4" name="password">
                <span class="input-label">Password</span>
                <input type="password" placeholder="xyzzy">
            </label>
        </form>
        <button id="login-button1" class=" button button-calm  button-block ">Login</button>
    </ion-content>
</ion-view>