language: android
sudo: false
jdk:
    - oraclejdk8
android:
  components:
    - tools
    - android-27
    - build-tools-27.0.3
    - platform-tools
before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
before_install:
  - echo yes | ${ANDROID_HOME}tools/bin/sdkmanager "platforms;android-28"
cache:
    directories:
      - "${TRAVIS_BUILD_DIR}/gradle/caches/"
      - "${TRAVIS_BUILD_DIR}/gradle/wrapper/dists/"
      - "$HOME/.gradle/caches/"
      - "$HOME/.gradle/wrapper/" 
script:
  - ./gradlew build
  - ./gradlew testPlayStoreDebugUnitTestCoverage
after_success:
    - bash <(curl -s https://codecov.io/bash)
    - bash scripts/prep-key.sh
    - bash scripts/update-apk.sh
