event-dashboard-page {
  .loader-wrapper {
    $border-radius: 0;

    border-radius: $border-radius;
    width: 100%;
    background: #e8e8e8 !important;
    margin-top: 6px;

    .loader {
      background: map-get($colors, primary) !important;
      border-radius: $border-radius;
      transition: all .2s ease-in;
      padding: 3px;

      p {
        text-align: center;
        color: white !important;
      }
    }

  }

}
