event-attendees-page {
  .item-icon-left-square {

    ion-icon {
      left: 0;
      height: 64px;
      width: 64px;
      color: #ffffff;
      font-size: 30px;
      background-color: #32db64;
      margin: 0;
    }

    ion-icon:before {
      width: 100%;
      line-height: 64px;
    }

    .item-inner {
      margin-left: 0;
      padding-left: 6px;
    }

  }
}
