<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Attendees
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div style="padding-bottom: 2.9em;">
    <ion-searchbar (ionInput)="searchFilter($event)"></ion-searchbar>

    <div style="text-align: center;" id="loading-view" [hidden]="!isLoading">
      <ion-spinner></ion-spinner>
    </div>

    <ion-list>
      <ion-item-group *ngFor="let entry of attendeesGrouped | keys">
        <ion-item-divider light class="caps-300">{{ entry.key }}</ion-item-divider>
        <ion-item *ngFor="let attendee of entry.value" [ngClass]="{'item-icon-left-square':attendee.checked_in}"
                  (click)="checkIn(attendee)">
          <ion-icon name="checkmark" item-left [hidden]="!attendee.checked_in"></ion-icon>
          <h2>{{ attendee.lastname }} {{ !attendee.lastname || attendee.lastname.trim() === '' ? '' : ','}} {{ attendee.firstname}}</h2>
          <p class="text-muted">{{ attendee.email}}</p>
        </ion-item>
      </ion-item-group>
    </ion-list>

  </div>

  <button class="caps-300" (click)="scanQrCode()"
          ion-button full large bottom color="dark">
    <ion-icon name="qr-scanner"></ion-icon>
    <span style="margin-left: 10px;">Scan QR Code</span>
  </button>

</ion-content>
