<ion-view title="Attendee List" id="event-dashboard">
    <ion-content padding="true" class="scroll-content ionic-scroll has-header">

        <div class="scroll padding">

            <form id="attendee-search-form" class="list">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="search" placeholder="Name or email" ng-model="attendeeSearch" ng-change="filter(attendeeSearch)">
                </label>
            </form>

            <div style="text-align: center;" id="loading-view" ng-show="isLoading">
                <ion-spinner></ion-spinner>
            </div>

            <ion-list id="attendee-list" ng-hide="isLoading">
                <div class="list">
                    <div ng-repeat='(letter, attendees) in attendeesGrouped'>
                        <ion-item class="item-divider item caps-300" >{{ letter }}</ion-item>
                        <ion-item id="attendee-list-item-{{ attendee.id }}" class="item" ng-class="{'item-icon-left item-icon-left-square': attendee.checked_in}"  ng-repeat='attendee in attendees' ng-click="checkInToggle(attendee)">
                            {{ attendee.lastname }}, {{ attendee.firstname }}<br>
                            <span class="text-muted">{{ attendee.email}}</span>
                            <i class="icon ion-ios-checkmark-empty" ng-if="attendee.checked_in"></i>
                        </ion-item>

                    </div>

                </div>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
