<ion-view title="Dashboard" id="event-dashboard">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-ios-contact-outline">

        </button>
    </ion-nav-buttons>

    <ion-content padding="true" class="scroll-content ionic-scroll has-header">
        <div class="scroll padding">
            <h2>{{ $storage.selectedEvent.name }}</h2>
            <span style="font-size: larger">{{ $storage.selectedEvent.start_time | amDateFormat:'MMMM Do YYYY, HH:mm' }} to {{ $storage.selectedEvent.end_time | amDateFormat:'MMMM Do YYYY, HH:mm' }}</span>
            <div style="text-align: center;" id="loading-view" ng-show="isLoading">
                <ion-spinner></ion-spinner>
            </div>
            <br><br>
            <ion-list id="page-list4">
                <div class="list">
                    <ion-item class="item-divider item caps-300" id="page-list-item-divider2"> Tickets Sold
                    </ion-item>
                    <ion-item id="page-list-item7" class="item">
                        <span class="weight-300"><span class="text-branded">{{ stats.tickets.sold }}</span> / {{ stats.tickets.total }}</span>
                        <div class="loader-wrapper">
                            <div class="loader" ng-style="{ width: percentage(stats.tickets.sold, stats.tickets.total) + '%'}">
                                <p>{{ percentage(stats.tickets.sold, stats.tickets.total) }}%</p>
                            </div>
                        </div>
                    </ion-item>
                </div>
            </ion-list>
            <br>
            <ion-list id="page-list7">
                <div class="list">
                    <ion-item class="item-divider item caps-300" id="page-list-item-divider4"> Attendance
                    </ion-item>
                    <ion-item id="page-list-item8" class="item">
                        <span class="weight-300"><span class="text-branded">{{ stats.attendees.present }}</span> / {{ stats.attendees.total }}</span>
                        <div class="loader-wrapper">
                            <div class="loader" ng-style="{ width: percentage(stats.attendees.present, stats.attendees.total) + '%'}">
                                <p>{{ percentage(stats.attendees.present, stats.attendees.total) }}%</p>
                            </div>
                        </div>
                    </ion-item>
                </div>
            </ion-list>
            <br>
        </div>
    </ion-content>
    <button id="check-in-button" style="left:0;bottom:0;position: fixed;margin: 0;padding: 0;" ui-sref="event_attendee_list"
            class="button button-balanced button-full">Check In
    </button>

</ion-view>


