$calm: #11c1f3;
$link-color: $calm;
$ionicons-font-path: "../lib/ionic/fonts" !default;
@import "../lib/ionic/scss/ionic";
@import "ionic_addons";
@import "helper";

$brand-color: $calm;

.loader-wrapper {
    $border-radius: 5px;

    border-radius: $border-radius;
    width: 100%;
    background: #e8e8e8 !important;
    margin-top: 6px;

    .loader{
        background: $brand-color !important;
        border-radius: $border-radius;
        transition: all .2s ease-in;

        p{
            text-align:center;
            color:white !important;
        }
    }

}

.text-branded {
    color: $brand-color !important;
}

.branded {
    background-color: $brand-color !important;
    color: #FFFFFF !important;
}
