<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.fossasia.openevent.app">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".OrgaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name=".OrgaProvider"
            android:authorities="${applicationId}.org.fossasia.openevent.app"
            android:exported="false"/>
        <activity
            android:name=".module.auth.AuthActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.attendee.qrscan.ScanQRActivity"
            android:theme="@style/AppTheme.NoActionBar.Translucent" />
        <activity
            android:name=".module.main.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".module.event.chart.ChartActivity"
            android:theme="@style/AppTheme.NoActionBar.Translucent"/>
    </application>

</manifest>
