<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.eventyay.organizer">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.eventyay.organizer.OrgaApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="allowBackup, android:label">
        <provider
            android:name="com.eventyay.organizer.OrgaProvider"
            android:authorities="${applicationId}.com.eventyay.organizer"
            android:exported="false" />
        <!-- TODO: Current approach for resolving Toolbar issues is just a workaround -->
        <activity
            android:name="com.eventyay.organizer.core.auth.AuthActivity"
            android:label="${appName}"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/FRONTEND_HOST"
                    android:pathPrefix="/reset-password"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.eventyay.organizer.core.attendee.qrscan.ScanQRActivity"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name="com.eventyay.organizer.core.main.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.Main.Light" />
        <activity
            android:name="com.eventyay.organizer.core.event.chart.ChartActivity"
            android:theme="@style/AppTheme.Main.Light" />
        <activity
            android:name="com.eventyay.organizer.core.event.about.AboutEventActivity"
            android:label="@string/title_activity_about_event"
            android:theme="@style/AppTheme.Main.Light" />
        <activity
            android:name="com.eventyay.organizer.core.event.create.CreateEventActivity"
            android:label="@string/create_event"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.eventyay.organizer.core.organizer.detail.OrganizerDetailActivity"
            android:label="@string/title_activity_organizer_detail"
            android:theme="@style/AppTheme.Main.Light">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/FRONTEND_HOST"
                    android:pathPrefix="/verify"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.eventyay.organizer.core.speaker.details.SpeakerDetailsActivity"
            android:label="@string/speaker_details_activity"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".ui.editor.RichEditorActivity"
            android:label=""
            android:theme="@style/AppTheme.Main.Light" />

        <meta-data
            android:name="Mapbox Access Token"
            android:value="${MAPBOX_ACCESS_TOKEN}" />
    </application>

</manifest>
