<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.fossasia.openevent.app">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".OrgaApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="allowBackup">
        <provider
            android:name=".OrgaProvider"
            android:authorities="${applicationId}.org.fossasia.openevent.app"
            android:exported="false"/>
        <activity
            android:name=".module.auth.AuthActivity"
            android:theme="@style/AppTheme.Main.Light"
            android:label="${appName}">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.attendee.qrscan.ScanQRActivity"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".module.main.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.Main.Light"/>
        <activity
            android:name=".module.event.chart.ChartActivity"
            android:theme="@style/AppTheme.Main.Light"/>
        <activity
            android:name=".module.event.about.AboutEventActivity"
            android:label="@string/title_activity_about_event"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".module.organizer.detail.OrganizerDetailActivity"
            android:label="@string/title_activity_organizer_detail"
            android:theme="@style/AppTheme.Main.Light" />
    </application>

</manifest>
